

*.ko
*.ko.cmd
*.la
*.lo
*.mod.c
*.mod.o.cmd
*.o
*.o.cmd
*.pc
*~
.deps/
.libs/
.tmp_versions
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libltdl/
/libtool
/stamp-h1
Makefile
Makefile.in
Module.symvers
kernel/include/linux/netfilter/ipset/ip_set_compat.h
modules.order
