.config.cmd
.config.old
/.*-y
.ipv6-y
dnsmasq/src/.copts_*
dnsmasq/**/*.o
e2fsprogs/MCONFIG
e2fsprogs/Makefile
e2fsprogs/asm_types.h
e2fsprogs/config.log
e2fsprogs/config.status
e2fsprogs/debugfs/Makefile
e2fsprogs/**/*.o
e2fsprogs/debugfs/debug_cmds.c
e2fsprogs/debugfs/debugfs
e2fsprogs/**/*.8
jpeg/Makefile
jpeg/**/*.o
jpeg/config.status
ebtables/**/*.o
ebtables/ebtables
ebtables/ebtables-restore
ebtables/**/*.so
rc/*.depend
rc/*.o
rom/rom/etc/motd
stamp-h1
rstats/*.depend
rstats/rstats
rstats/*.o
samba3/.conf
sd-idle/sd-idle
shared/*.depend
shared/**/*.o
utils/epi_ttcp
utils/et
utils/robocfg
vsftpd/**/*.o
vsftpd/vsftpd
wanuptime/wanuptime
wanuptime/wanuptime.o
wlconf_arm/wlconf
zlib/Makefile
zlib/**/*.lo
zlib/**/*.o
zlib/configure.log

*.o
*.o.d
*.a
*.la
*.so
*.lo
*.so.*
*.8
*.5
ffmpeg/**/*.d
config.status
.libs/
.deps/
autom4te.cache/
*.pc
*.depend
config.out
*.3pcap
*.man
*.dirstamp
*sample/
examples/
config.h
*.dep
accel-pptp/Makefile
accel-pptp/libtool
accel-pptp/src/Makefile
apcupsd/autoconf/variables.mak
apcupsd/configure
apcupsd/platforms/apccontrol
apcupsd/platforms/debian/apcupsd
apcupsd/platforms/debian/ups-monitor
apcupsd/platforms/etc/apcupsd.conf
apcupsd/platforms/etc/changeme
apcupsd/platforms/etc/commfailure
apcupsd/platforms/etc/commok
apcupsd/platforms/etc/offbattery
apcupsd/platforms/etc/onbattery
apcupsd/src/apcaccess
apcupsd/src/apcupsd
apcupsd/src/cgi/cgiconfig.h
apcupsd/src/cgi/multimon.cgi
apcupsd/src/cgi/tomatodata.cgi
apcupsd/src/cgi/tomatoups.cgi
apcupsd/src/cgi/upsfstats.cgi
apcupsd/src/cgi/upsstats.cgi
apcupsd/src/smtp
apcupsd/src/win32/Makefile
arm-uclibc/
bridge/Makefile
bridge/brctl/Makefile
bridge/brctl/brctl
bridge/bridge-utils.spec
bridge/doc/Makefile
bridge/libbridge/Makefile
comgt/comgt
compressed/piggy
compressed/piggy.lds
compressed/piggz
compressed/vmlinux
compressed/vmlinux.lds
compressed/vmlinuz
compressed/vmlinuz-gzip
compressed/zImage
config/conf
config/lex.zconf.c
config/lkc_defs.h
config/mconf
config/zconf.tab.c
config/zconf.tab.h
config_current
config_e
cstats/cstats
dnsmasq/src/dnsmasq
emf_arm/emf/.emf_linux.o.cmd
emf_arm/igs/.igs_linux.o.cmd
ffmpeg/.version
ffmpeg/config.err
ffmpeg/config.mak
ffmpeg/libavcodec/libavcodec.ver
ffmpeg/libavformat/libavformat.ver
ffmpeg/libavutil/avconfig.h
ffmpeg/libavutil/libavutil.ver
ffmpeg/version.h
glib/Makefile
glib/docs/Makefile
glib/docs/glib-config.1
glib/glib-config
glib/glib.spec
glib/gmodule/Makefile
glib/gmodule/gmoduleconf.h
glib/gmodule/testgmodule
glib/gthread/Makefile
glib/gthread/testgthread
glib/libtool
glib/testgdate
glib/testgdateparser
glib/testglib
glib/tests/Makefile
glib/tests/array-test
glib/tests/dirname-test
glib/tests/hash-test
glib/tests/list-test
glib/tests/node-test
glib/tests/relation-test
glib/tests/slist-test
glib/tests/strfunc-test
glib/tests/string-test
glib/tests/tree-test
glib/tests/type-test
gmp/Makefile
gmp/config.m4
gmp/cxx/Makefile
gmp/demos/Makefile
gmp/demos/calc/Makefile
gmp/demos/calc/calc-config.h
gmp/demos/expr/Makefile
gmp/demos/pexpr-config.h
gmp/doc/Makefile
gmp/fac_table.h
gmp/fib_table.h
gmp/gen-bases
gmp/gen-fac
gmp/gen-fib
gmp/gen-jacobitab
gmp/gen-psqr
gmp/gen-trialdivtab
gmp/gmp-mparam.h
gmp/gmp.h
gmp/libtool
gmp/mp_bases.h
gmp/mpf/Makefile
gmp/mpn/Makefile
gmp/mpn/add.c
gmp/mpn/add_1.c
gmp/mpn/add_err1_n.c
gmp/mpn/add_err2_n.c
gmp/mpn/add_err3_n.c
gmp/mpn/add_n.asm
gmp/mpn/add_n_sub_n.c
gmp/mpn/addlsh1_n.asm
gmp/mpn/addmul_1.asm
gmp/mpn/and_n.asm
gmp/mpn/andn_n.asm
gmp/mpn/bdiv_dbm1c.asm
gmp/mpn/bdiv_q.c
gmp/mpn/bdiv_q_1.c
gmp/mpn/bdiv_qr.c
gmp/mpn/binvert.c
gmp/mpn/broot.c
gmp/mpn/brootinv.c
gmp/mpn/bsqrt.c
gmp/mpn/bsqrtinv.c
gmp/mpn/cmp.c
gmp/mpn/cnd_add_n.asm
gmp/mpn/cnd_sub_n.asm
gmp/mpn/cnd_swap.c
gmp/mpn/com.asm
gmp/mpn/comb_tables.c
gmp/mpn/copyd.asm
gmp/mpn/copyi.asm
gmp/mpn/dcpi1_bdiv_q.c
gmp/mpn/dcpi1_bdiv_qr.c
gmp/mpn/dcpi1_div_q.c
gmp/mpn/dcpi1_div_qr.c
gmp/mpn/dcpi1_divappr_q.c
gmp/mpn/div_q.c
gmp/mpn/div_qr_1.c
gmp/mpn/div_qr_1n_pi1.c
gmp/mpn/div_qr_2.c
gmp/mpn/div_qr_2n_pi1.c
gmp/mpn/div_qr_2u_pi1.c
gmp/mpn/dive_1.asm
gmp/mpn/diveby3.c
gmp/mpn/divexact.c
gmp/mpn/divis.c
gmp/mpn/divrem.c
gmp/mpn/divrem_1.c
gmp/mpn/divrem_2.c
gmp/mpn/dump.c
gmp/mpn/fib2_ui.c
gmp/mpn/fib_table.c
gmp/mpn/gcd.c
gmp/mpn/gcd_1.c
gmp/mpn/gcd_subdiv_step.c
gmp/mpn/gcdext.c
gmp/mpn/gcdext_1.c
gmp/mpn/gcdext_lehmer.c
gmp/mpn/get_d.c
gmp/mpn/get_str.c
gmp/mpn/hamdist.c
gmp/mpn/hgcd.c
gmp/mpn/hgcd2.c
gmp/mpn/hgcd2_jacobi.c
gmp/mpn/hgcd_appr.c
gmp/mpn/hgcd_jacobi.c
gmp/mpn/hgcd_matrix.c
gmp/mpn/hgcd_reduce.c
gmp/mpn/hgcd_step.c
gmp/mpn/invert.c
gmp/mpn/invert_limb.asm
gmp/mpn/invertappr.c
gmp/mpn/ior_n.asm
gmp/mpn/iorn_n.asm
gmp/mpn/jacbase.c
gmp/mpn/jacobi.c
gmp/mpn/jacobi_2.c
gmp/mpn/jacobitab.h
gmp/mpn/lshift.asm
gmp/mpn/lshiftc.asm
gmp/mpn/matrix22_mul.c
gmp/mpn/matrix22_mul1_inverse_vector.c
gmp/mpn/mod_1.c
gmp/mpn/mod_1_1.c
gmp/mpn/mod_1_2.c
gmp/mpn/mod_1_3.c
gmp/mpn/mod_1_4.c
gmp/mpn/mod_34lsub1.asm
gmp/mpn/mode1o.asm
gmp/mpn/mp_bases.c
gmp/mpn/mu_bdiv_q.c
gmp/mpn/mu_bdiv_qr.c
gmp/mpn/mu_div_q.c
gmp/mpn/mu_div_qr.c
gmp/mpn/mu_divappr_q.c
gmp/mpn/mul.c
gmp/mpn/mul_1.asm
gmp/mpn/mul_basecase.c
gmp/mpn/mul_fft.c
gmp/mpn/mul_n.c
gmp/mpn/mullo_basecase.c
gmp/mpn/mullo_n.c
gmp/mpn/mulmid.c
gmp/mpn/mulmid_basecase.c
gmp/mpn/mulmid_n.c
gmp/mpn/mulmod_bnm1.c
gmp/mpn/nand_n.asm
gmp/mpn/neg.c
gmp/mpn/nior_n.asm
gmp/mpn/nussbaumer_mul.c
gmp/mpn/perfpow.c
gmp/mpn/perfsqr.c
gmp/mpn/perfsqr.h
gmp/mpn/popcount.c
gmp/mpn/pow_1.c
gmp/mpn/powlo.c
gmp/mpn/powm.c
gmp/mpn/pre_divrem_1.c
gmp/mpn/pre_mod_1.c
gmp/mpn/random.c
gmp/mpn/random2.c
gmp/mpn/redc_1.c
gmp/mpn/redc_2.c
gmp/mpn/redc_n.c
gmp/mpn/remove.c
gmp/mpn/rootrem.c
gmp/mpn/rsh1add_n.asm
gmp/mpn/rsh1sub_n.asm
gmp/mpn/rshift.asm
gmp/mpn/sbpi1_bdiv_q.c
gmp/mpn/sbpi1_bdiv_qr.c
gmp/mpn/sbpi1_div_q.c
gmp/mpn/sbpi1_div_qr.c
gmp/mpn/sbpi1_divappr_q.c
gmp/mpn/scan0.c
gmp/mpn/scan1.c
gmp/mpn/sec_add_1.c
gmp/mpn/sec_div_qr.c
gmp/mpn/sec_div_r.c
gmp/mpn/sec_invert.c
gmp/mpn/sec_mul.c
gmp/mpn/sec_pi1_div_qr.c
gmp/mpn/sec_pi1_div_r.c
gmp/mpn/sec_powm.c
gmp/mpn/sec_sqr.c
gmp/mpn/sec_sub_1.c
gmp/mpn/sec_tabselect.asm
gmp/mpn/set_str.c
gmp/mpn/sizeinbase.c
gmp/mpn/sqr.c
gmp/mpn/sqr_basecase.c
gmp/mpn/sqrlo.c
gmp/mpn/sqrlo_basecase.c
gmp/mpn/sqrmod_bnm1.c
gmp/mpn/sqrtrem.c
gmp/mpn/sub.c
gmp/mpn/sub_1.c
gmp/mpn/sub_err1_n.c
gmp/mpn/sub_err2_n.c
gmp/mpn/sub_err3_n.c
gmp/mpn/sub_n.asm
gmp/mpn/sublsh1_n.asm
gmp/mpn/submul_1.asm
gmp/mpn/tdiv_qr.c
gmp/mpn/toom22_mul.c
gmp/mpn/toom2_sqr.c
gmp/mpn/toom32_mul.c
gmp/mpn/toom33_mul.c
gmp/mpn/toom3_sqr.c
gmp/mpn/toom42_mul.c
gmp/mpn/toom42_mulmid.c
gmp/mpn/toom43_mul.c
gmp/mpn/toom44_mul.c
gmp/mpn/toom4_sqr.c
gmp/mpn/toom52_mul.c
gmp/mpn/toom53_mul.c
gmp/mpn/toom54_mul.c
gmp/mpn/toom62_mul.c
gmp/mpn/toom63_mul.c
gmp/mpn/toom6_sqr.c
gmp/mpn/toom6h_mul.c
gmp/mpn/toom8_sqr.c
gmp/mpn/toom8h_mul.c
gmp/mpn/toom_couple_handling.c
gmp/mpn/toom_eval_dgr3_pm1.c
gmp/mpn/toom_eval_dgr3_pm2.c
gmp/mpn/toom_eval_pm1.c
gmp/mpn/toom_eval_pm2.c
gmp/mpn/toom_eval_pm2exp.c
gmp/mpn/toom_eval_pm2rexp.c
gmp/mpn/toom_interpolate_12pts.c
gmp/mpn/toom_interpolate_16pts.c
gmp/mpn/toom_interpolate_5pts.c
gmp/mpn/toom_interpolate_6pts.c
gmp/mpn/toom_interpolate_7pts.c
gmp/mpn/toom_interpolate_8pts.c
gmp/mpn/trialdiv.c
gmp/mpn/udiv.asm
gmp/mpn/xnor_n.asm
gmp/mpn/xor_n.asm
gmp/mpn/zero.c
gmp/mpn/zero_p.c
gmp/mpq/Makefile
gmp/mpz/Makefile
gmp/printf/Makefile
gmp/rand/Makefile
gmp/scanf/Makefile
gmp/tests/Makefile
gmp/tests/cxx/Makefile
gmp/tests/devel/Makefile
gmp/tests/misc/Makefile
gmp/tests/mpf/Makefile
gmp/tests/mpn/Makefile
gmp/tests/mpq/Makefile
gmp/tests/mpz/Makefile
gmp/tests/rand/Makefile
gmp/trialdivtab.h
gmp/tune/Makefile
gmp/tune/sqr_basecase.c
hotplug2/hotplug2
httpd/httpd
igmpproxy/Makefile
igmpproxy/doc/Makefile
igmpproxy/src/Makefile
igmpproxy/src/igmpproxy
igmpproxy/src/os.h
jpeg/jconfig.h
jpeg/staged/
layer7/squished/
libbacktrace/
libevent/Makefile
libevent/include/Makefile
libevent/include/event2/event-config.h
libevent/libtool
libevent/staged/
libevent/test/Makefile
libevent/test/bench
libevent/test/bench_cascade
libevent/test/bench_http
libevent/test/bench_httpclient
libevent/test/regress
libevent/test/rpcgen-attempted
libevent/test/test-changelist
libevent/test/test-eof
libevent/test/test-init
libevent/test/test-ratelim
libevent/test/test-time
libevent/test/test-weof
libexif/Makefile
libexif/binary/Makefile
libexif/contrib/Makefile
libexif/doc/Doxyfile
libexif/doc/Doxyfile-internals
libexif/doc/Makefile
libexif/libexif/Makefile
libexif/libtool
libexif/m4m/Makefile
libexif/po/Makefile
libexif/po/Makefile.in
libexif/po/POTFILES
libexif/test/Makefile
libexif/test/nls/Makefile
libiconv/Makefile
libiconv/include/iconv.h
libiconv/include/iconv.h.inst
libiconv/lib/Makefile
libiconv/lib/charset.alias
libiconv/lib/libcharset.h
libiconv/lib/localcharset.h
libiconv/lib/stamp-h2
libiconv/libcharset/Makefile
libiconv/libcharset/include/libcharset.h
libiconv/libcharset/include/localcharset.h
libiconv/libcharset/include/localcharset.h.inst
libiconv/libcharset/lib/Makefile
libiconv/libcharset/lib/charset.alias
libiconv/libcharset/lib/ref-add.sed
libiconv/libcharset/lib/ref-del.sed
libiconv/libcharset/libtool
libiconv/libtool
libiconv/man/Makefile
libiconv/po/Makefile
libiconv/po/Makefile.in
libiconv/po/POTFILES
libiconv/preload/Makefile
libiconv/preload/libtool
libiconv/src/Makefile
libiconv/src/iconv
libiconv/src/iconv_no_i18n
libiconv/srclib/Makefile
libiconv/srclib/alloca.h
libiconv/srclib/arg-nonnull.h
libiconv/srclib/c++defs.h
libiconv/srclib/fcntl.h
libiconv/srclib/limits.h
libiconv/srclib/signal.h
libiconv/srclib/stddef.h
libiconv/srclib/stdint.h
libiconv/srclib/stdio.h
libiconv/srclib/stdlib.h
libiconv/srclib/string.h
libiconv/srclib/sys/
libiconv/srclib/time.h
libiconv/srclib/unistd.h
libiconv/srclib/unitypes.h
libiconv/srclib/uniwidth.h
libiconv/srclib/warn-on-use.h
libiconv/staged/
libiconv/tests/Makefile
libid3tag/Makefile
libid3tag/libid3tag.list
libid3tag/libtool
libid3tag/msvc++/Makefile
libjson-c/config.h.in
liblzma/
libmnl/staged/
libncurses/edit_man.sed
libncurses/edit_man.sh
libncurses/headers.sh
libncurses/include/MKterm.h.awk
libncurses/include/curses.h
libncurses/include/curses.head
libncurses/include/eti.h
libncurses/include/form.h
libncurses/include/hashsize.h
libncurses/include/menu.h
libncurses/include/mf_common.h
libncurses/include/ncurses_cfg.h
libncurses/include/ncurses_def.h
libncurses/include/ncurses_dll.h
libncurses/include/panel.h
libncurses/include/parametrized.h
libncurses/include/term.h
libncurses/include/termcap.h
libncurses/include/unctrl.h
libncurses/man/ncurses6-config.1
libncurses/misc/ncurses-config
libncurses/misc/run_tic.sed
libncurses/misc/run_tic.sh
libncurses/misc/terminfo.tmp
libncurses/ncurses/codes.c
libncurses/ncurses/comp_captab.c
libncurses/ncurses/expanded.c
libncurses/ncurses/fallback.c
libncurses/ncurses/init_keytry.h
libncurses/ncurses/keys.list
libncurses/ncurses/lib_gen.c
libncurses/ncurses/lib_keyname.c
libncurses/ncurses/link_test.c
libncurses/ncurses/make_hash
libncurses/ncurses/make_keys
libncurses/ncurses/names.c
libncurses/ncurses/unctrl.c
libnfnetlink/Makefile
libnfnetlink/include/Makefile
libnfnetlink/include/libnfnetlink/Makefile
libnfnetlink/libtool
libnfnetlink/src/Makefile
libnfnetlink/utils/Makefile
libnfsidmap/Makefile
libnfsidmap/compile
libnfsidmap/libtool
libnfsidmap/staged/
libogg/Makefile
libogg/doc/Makefile
libogg/doc/libogg/Makefile
libogg/include/Makefile
libogg/include/ogg/Makefile
libogg/include/ogg/config_types.h
libogg/libtool
libogg/src/Makefile
libogg/src/test_bitwise
libogg/src/test_framing
libpcap/Makefile
libpcap/bpf_filter.c
libpcap/grammar.c
libpcap/grammar.h
libpcap/net
libpcap/pcap-config
libpcap/pcap-filter.manmisc
libpcap/pcap-linktype.manmisc
libpcap/pcap-savefile.manfile
libpcap/pcap-tstamp.manmisc
libpcap/pcap_version.h
libpcap/scanner.c
libpcap/scanner.h
libpcap/version.c
libpng/Makefile
libpng/libpng-config
libpng/libpng.sym
libpng/libpng.vers
libpng/libpng12-config
libpng/libtool
libpng/staged/
libusb10/Makefile
libusb10/doc/Makefile
libusb10/doc/doxygen.cfg
libusb10/libtool
libusb10/libusb/Makefile
libvorbis/Makefile
libvorbis/doc/Makefile
libvorbis/doc/vorbisenc/Makefile
libvorbis/doc/vorbisfile/Makefile
libvorbis/include/Makefile
libvorbis/include/vorbis/Makefile
libvorbis/lib/Makefile
libvorbis/lib/books/Makefile
libvorbis/lib/books/coupled/Makefile
libvorbis/lib/books/floor/Makefile
libvorbis/lib/books/uncoupled/Makefile
libvorbis/lib/modes/Makefile
libvorbis/lib/test_sharedbook
libvorbis/libtool
libvorbis/m4/Makefile
libvorbis/test/Makefile
libvorbis/vq/Makefile
libxml2/Makefile
libxml2/doc/Makefile
libxml2/doc/devhelp/Makefile
libxml2/example/Makefile
libxml2/example/gjobread
libxml2/include/Makefile
libxml2/include/libxml/Makefile
libxml2/include/libxml/xmlversion.h
libxml2/libtool
libxml2/libxml2.spec
libxml2/python/Makefile
libxml2/python/tests/Makefile
libxml2/runsuite
libxml2/runtest
libxml2/runxmlconf
libxml2/staged/
libxml2/testAutomata
libxml2/testC14N
libxml2/testHTML
libxml2/testModule
libxml2/testReader
libxml2/testRegexp
libxml2/testRelax
libxml2/testSAX
libxml2/testSchemas
libxml2/testThreads
libxml2/testURI
libxml2/testXPath
libxml2/testapi
libxml2/testchar
libxml2/testdict
libxml2/testlimits
libxml2/testrecurse
libxml2/xml2-config
libxml2/xml2Conf.sh
libxml2/xmlcatalog
libxml2/xmllint
libxml2/xstc/Makefile
lzo/Makefile
lzo/libtool
lzo/lzotest/lzotest
lzo/minilzo/testmini
lzo/tests/align
lzo/tests/chksum
lzo/tests/promote
lzo/tests/sizes
mdadm/mdadm
mdu/mdu
minidlna/minidlna
miniupnpd/miniupnpd
miniupnpd/miniupnpdctl
miniupnpd/testasyncsendto
miniupnpd/testgetifaddr
miniupnpd/testgetifstats
miniupnpd/testgetroute
miniupnpd/testportinuse
miniupnpd/testssdppktgen
miniupnpd/testupnpdescgen
miniupnpd/testupnppermissions
mysql/cmd-line-utils/libedit/common.h
mysql/cmd-line-utils/libedit/emacs.h
mysql/cmd-line-utils/libedit/fcns.h
mysql/cmd-line-utils/libedit/help.h
mysql/cmd-line-utils/libedit/makelist
mysql/cmd-line-utils/libedit/vi.h
mysql/configure
mysql/extra/comp_err
mysql/include/link_sources
mysql/include/my_config.h
mysql/include/openssl
mysql/include/readline
nano/Makefile
nano/doc/Makefile
nano/doc/sample.nanorc
nano/lib/Makefile
nano/lib/alloca.h
nano/lib/arg-nonnull.h
nano/lib/c++defs.h
nano/lib/charset.alias
nano/lib/configmake.h
nano/lib/ctype.h
nano/lib/dirent.h
nano/lib/fnmatch.h
nano/lib/getopt.h
nano/lib/langinfo.h
nano/lib/limits.h
nano/lib/locale.h
nano/lib/math.h
nano/lib/ref-add.sed
nano/lib/ref-del.sed
nano/lib/signal.h
nano/lib/stddef.h
nano/lib/stdint.h
nano/lib/stdio.h
nano/lib/stdlib.h
nano/lib/string.h
nano/lib/strings.h
nano/lib/sys/
nano/lib/time.h
nano/lib/unistd.h
nano/lib/unitypes.h
nano/lib/uniwidth.h
nano/lib/warn-on-use.h
nano/lib/wchar.h
nano/lib/wctype.h
nano/m4/Makefile
nano/po/Makefile
nano/po/Makefile.in
nano/po/POTFILES
nano/src/Makefile
nano/src/nano
nano/src/revision.h
nano/syntax/Makefile
nfs-utils/utils/statd/sm-notify
nfs-utils/utils/statd/sm_inter.h
nfs-utils/utils/statd/sm_inter_clnt.c
nfs-utils/utils/statd/sm_inter_svc.c
nfs-utils/utils/statd/sm_inter_xdr.c
nocat/Makefile
nocat/nocat.conf
nocat/src/Makefile
nocat/src/splashd
nocat/src/splashtest
ntfs-3g/Makefile
ntfs-3g/include/Makefile
ntfs-3g/include/fuse-lite/Makefile
ntfs-3g/include/ntfs-3g/Makefile
ntfs-3g/libfuse-lite/Makefile
ntfs-3g/libntfs-3g/Makefile
ntfs-3g/libtool
ntfs-3g/ntfsprogs/Makefile
ntfs-3g/src/Makefile
ntfs-3g/src/lowntfs-3g
ntfs-3g/src/ntfs-3g
ntfs-3g/src/ntfs-3g.probe
ntfs-3g/src/ntfs-3g.secaudit
ntfs-3g/src/ntfs-3g.usermap
ntpc/ntpc
nvram_arm/nvram
p910nd/p910nd
php/main/php_config.h
portmap/pmap_dump
portmap/pmap_set
portmap/portmap
pptpd/Makefile
prebuilt/wl
rc/rc
spawn-fcgi/Makefile
spawn-fcgi/Makefile.in
spawn-fcgi/aclocal.m4
spawn-fcgi/configure
spawn-fcgi/doc/Makefile
spawn-fcgi/doc/Makefile.in
spawn-fcgi/src/Makefile
spawn-fcgi/src/Makefile.in
spawn-fcgi/src/spawn-fcgi
sqlite/Makefile
sqlite/libtool
sqlite/sqlite3
udevtrigger/udevtrigger
udpxy/udpxrec
udpxy/udpxy
uqmi/qmi-errors.c
uqmi/qmi-message-ctl.c
uqmi/qmi-message-ctl.h
uqmi/qmi-message-dms.c
uqmi/qmi-message-dms.h
uqmi/qmi-message-nas.c
uqmi/qmi-message-nas.h
uqmi/qmi-message-pds.c
uqmi/qmi-message-pds.h
uqmi/qmi-message-wda.c
uqmi/qmi-message-wda.h
uqmi/qmi-message-wds.c
uqmi/qmi-message-wds.h
uqmi/qmi-message-wms.c
uqmi/qmi-message-wms.h
uqmi/uqmi
usbmodeswitch/usb_modeswitch
usbmodeswitch/usb_modeswitch_dispatcher
zlib/example
zlib/example64
zlib/examplesh
zlib/minigzip
zlib/minigzip64
zlib/minigzipsh
zlib/staged/
