.*.swp
/.config
/.config.old
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
2017*.log
release/src-rt-6.x.4708/router/apcupsd/examples/safe.apccontrol
release/src-rt-6.x.4708/router/libnfsidmap/INSTALL
release/src-rt-6.x.4708/router/libnfsidmap/config.guess
release/src-rt-6.x.4708/router/libnfsidmap/config.sub
release/src-rt-6.x.4708/router/libnfsidmap/depcomp
release/src-rt-6.x.4708/router/libnfsidmap/install-sh
release/src-rt-6.x.4708/router/libnfsidmap/ltmain.sh
release/src-rt-6.x.4708/router/libnfsidmap/m4/libtool.m4
release/src-rt-6.x.4708/router/libnfsidmap/m4/ltoptions.m4
release/src-rt-6.x.4708/router/libnfsidmap/m4/ltsugar.m4
release/src-rt-6.x.4708/router/libnfsidmap/m4/ltversion.m4
release/src-rt-6.x.4708/router/libnfsidmap/m4/lt~obsolete.m4
release/src-rt-6.x.4708/router/libnfsidmap/missing
release/src-rt-6.x.4708/router/libsodium/Makefile.in
release/src-rt-6.x.4708/router/libsodium/aclocal.m4
release/src-rt-6.x.4708/router/libsodium/build-aux/
release/src-rt-6.x.4708/router/libsodium/configure
release/src-rt-6.x.4708/router/libsodium/contrib/Makefile.in
release/src-rt-6.x.4708/router/libsodium/dist-build/Makefile.in
release/src-rt-6.x.4708/router/libsodium/m4/libtool.m4
release/src-rt-6.x.4708/router/libsodium/m4/ltoptions.m4
release/src-rt-6.x.4708/router/libsodium/m4/ltsugar.m4
release/src-rt-6.x.4708/router/libsodium/m4/ltversion.m4
release/src-rt-6.x.4708/router/libsodium/m4/lt~obsolete.m4
release/src-rt-6.x.4708/router/libsodium/msvc-scripts/Makefile.in
release/src-rt-6.x.4708/router/libsodium/src/Makefile.in
release/src-rt-6.x.4708/router/libsodium/src/libsodium/Makefile.in
release/src-rt-6.x.4708/router/libsodium/src/libsodium/include/Makefile.in
release/src-rt-6.x.4708/router/libsodium/test/Makefile.in
release/src-rt-6.x.4708/router/libsodium/test/default/Makefile.in
release/src-rt-6.x.4708/router/pcre/INSTALL
release/src-rt-6.x.4708/router/pcre/ar-lib
release/src-rt-6.x.4708/router/pcre/compile
release/src-rt-6.x.4708/router/pcre/config.guess
release/src-rt-6.x.4708/router/pcre/config.h.in
release/src-rt-6.x.4708/router/pcre/config.sub
release/src-rt-6.x.4708/router/pcre/depcomp
release/src-rt-6.x.4708/router/pcre/install-sh
release/src-rt-6.x.4708/router/pcre/ltmain.sh
release/src-rt-6.x.4708/router/pcre/m4/libtool.m4
release/src-rt-6.x.4708/router/pcre/missing
release/src-rt-6.x.4708/router/pcre/test-driver
release/src-rt-6.x.4708/router/spawn-fcgi/config.h.in
release/src-rt-6.x.4708/router/sqlite/Makefile.in
release/src-rt-6.x.4708/router/sqlite/aclocal.m4
release/src-rt-6.x.4708/router/sqlite/compile
release/src-rt-6.x.4708/router/sqlite/config.guess
release/src-rt-6.x.4708/router/sqlite/config.sub
release/src-rt-6.x.4708/router/sqlite/configure
release/src-rt-6.x.4708/router/sqlite/depcomp
release/src-rt-6.x.4708/router/sqlite/install-sh
release/src-rt-6.x.4708/router/sqlite/ltmain.sh
release/src-rt-6.x.4708/router/sqlite/missing
release/src-rt-6.x.4708/router/spawn-fcgi/config.guess
release/src-rt-6.x.4708/router/spawn-fcgi/config.sub
