[submodule "libcurl"]
	path = release/src-rt-6.x.4708/router/libcurl
	url = https://github.com/curl/curl.git
[submodule "openvpn"]
	path = release/src-rt-6.x.4708/router/openvpn
	url = git@github.com:wangmice/openvpn.git
[submodule "tinc"]
	path = release/src-rt-6.x.4708/router/tinc
	url = git@github.com:wangmice/tinc.git
[submodule "tor"]
	path = release/src-rt-6.x.4708/router/tor
	url = git@github.com:wangmice/tor.git
[submodule "nginx"]
	path = release/src-rt-6.x.4708/router/nginx
	url = git@github.com:wangmice/nginx.git
[submodule "libcap-ng"]
	path = release/src-rt-6.x.4708/router/libcap-ng
	url = https://github.com/stevegrubb/libcap-ng.git
[submodule "openssl"]
	path = release/src-rt-6.x.4708/router/openssl
	url = git@github.com:wangmice/openssl.git
[submodule "liblzma"]
	path = release/src-rt-6.x.4708/router/liblzma
	url = git@github.com:kobolabs/liblzma.git
